
<h1>Menu</h1>

<form>
  <div>
    <input type="text" ng-model="searchBox" class = "searchBox">
  </div>
  <mat-form-field appearance="fill" class="centreDiv">
      <mat-label>Food Category</mat-label>
      <mat-select matNativeControl required name="food">
        <mat-option value="" selected></mat-option>
        <mat-option *ngFor="let food of foods" [value]="food.value">
          {{food.viewValue}}
        </mat-option>
      </mat-select>
  </mat-form-field>
  <p> Selected food: {{selectedValue}} </p>
</form>
<app-order-list></app-order-list>

