h1
    text-align: center
    padding: 80px
    font-family: ink Free
    font-size: 160px
    background-color: rgb(230, 255, 255)

.centreDiv
  margin: auto
  display: flex
  flex-direction: column
  align-items: center









