h1
  text-align: center
  padding: 100px
  font-family: ink Free
  font-size: 160px
  background-color: rgb(230, 255, 255)
  font-weight: bold

h2
  text-align: center
  font-family: ink Free
  font-size: 60px
  background-color: rgb(230, 255, 255)
  font-weight: bold
  position: relative
  top: 12%

h3
  text-align: center
  font-family: ink Free
  font-size: 60px
  background-color: rgb(230, 255, 255)
  font-weight: bold
  position: relative
  top: 37%

h4
  text-align: center
  font-family: ink Free
  font-size: 60px
  background-color: rgb(230, 255, 255)
  font-weight: bold
  position: relative
  top: 73%

h5
  text-align: center
  font-family: ink Free
  font-size: 60px
  background-color: rgb(230, 255, 255)
  font-weight: bold
  position: relative
  top: 99%

.centreDiv
  margin: auto
  display: flex
  flex-direction: column
  align-items: center
  background-color: white
  font-family: ink Free
  font-weight: bold
  color: rgb(230, 255, 255)
  font-size: 20px
  
.selectCategory
  background-color: white
  font-family: ink Free
  font-weight: bold
  font-size: 20px
  margin: none

.normalView
  background-color: white
  font-family: ink Free
  font-weight: bold
  font-size: 20px
  margin: none









