
h2
 font-family: 'Cedarville Cursive', cursive
 font-size: 60px

.spacer
  flex: 1 1 auto

.title
  font-family: 'Cedarville Cursive', cursive
  font-size: 100px
  
.menuUI
  font-size: 30px
  font-family: 'Calibri Light'