<h1>Menu</h1>
<mat-icon aria-hidden="false" aria-label="Example home icon">home</mat-icon>
<a class= "home" href  = '#home'>Home</a>
<form>
  <mat-form-field appearance="fill" class="centreDiv">
      <mat-label matNativeControl required name="formFood">Food Category</mat-label>
      <mat-select matNativeControl required name="food">
        <mat-option value="Fajitas"><a class = "Fajitas" href = "#Fajitas">Fajitas</a></mat-option>
        <mat-option value="Nachos"><a class = "Nachos" href = "#Nachos">Nachos</a></mat-option>
        <mat-option value="Dips"><a class = "Dips" href = "#Dips">Dips</a></mat-option>
        <mat-option value="Deserts"><a class = "Deserts" href = "#Deserts">Deserts</a></mat-option>
      </mat-select>
  </mat-form-field>
</form>
<expansion-pannel></expansion-pannel>
<br>
<h2 id = "Fajitas">Fajitas</h2>
<h3 id = "Nachos">Nachos</h3>
<h4 id = "Dips">Dips</h4>
<h5 id = "Deserts">Deserts</h5>
<app-order-list></app-order-list>


