$noOrder: red
$hasOrder: green
$h1Col: teal
$btnSize: 75%

.tableList
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr))
  gap: 1rem
  width: border-box

li
  display: flex
  flex-direction: row
  border: 5px
  width: auto
  height: 50px
  list-style-type: none

.hasOrder
  border-color: $hasOrder
  width: $btnSize
  height: $btnSize

.noOrder
  border-color: $noOrder
  width: $btnSize
  height: $btnSize
h1
  color: $h1Col
but
  text-align: center

