<mat-drawer-container class="example-container" autosize>
  <mat-toolbar>
    <mat-toolbar-row>
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>reorder</mat-icon>
      </button>
      <h1>Waiter Menu</h1>
      <notifications></notifications>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul class="buttonRow">
      <li class="flex-item">
        <button mat-button>Add Table</button>
      </li>

    </ul>
    <ul class="botButtonRow">
      <li class="flex-item">
        <button mat-button color="warn">Log Out</button>
      </li>
    </ul>
  </mat-drawer>
<!--  <h2>Table Selection (Orders: {{this.freeTables}})</h2>-->

<!--  <mat-grid-list cols="4" rowHeight="200px">-->
<!--    <mat-grid-tile *ngFor="let table of tableList" >-->
<!--      <button *ngIf="table.hasOrder==true; else noOrderBlock"-->
<!--              mat-raised-button class="hasOrder"-->
<!--              color="primary" (click)="openTableDialog(table)">-->
<!--        Table {{table.number}}: Ordered</button>-->
<!--      <ng-template #noOrderBlock>-->
<!--        <button mat-raised-button class="noOrder"-->
<!--                color="warn" (click)="openTableDialog(table)">-->
<!--          Table {{table.number}}: No Order</button>-->
<!--      </ng-template>-->
<!--    </mat-grid-tile>-->
<!--  </mat-grid-list>-->
<!--  <hr>-->

  <h2>Tables</h2>
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile *ngFor="let table of tableList" >
      <button *ngIf="table.isReady else noIsReadyBlock" mat-raised-button class="readyToOrder" color="warn">
        Table {{table.tableNumber}} is Ready to Order!
      </button>
      <ng-template #noIsReadyBlock>
        <button mat-raised-button class="noIsReadyToOrder" color="primary">
          Table {{table.tableNumber}}
        </button>
      </ng-template>
    </mat-grid-tile>
  </mat-grid-list>

  <hr>

  <h2>Orders</h2>
  <mat-grid-list cols="4" rowHeight="200px">
    <mat-grid-tile *ngFor="let order of orders" >
<!--      <button *ngIf="order.meal.length > 0 || order.meal == undefined; else noOrderBlock" mat-raised-button class="hasOrder"-->
      <button *ngIf="order.isDelivered else noOrderBlock" mat-raised-button class="hasOrder"
              (click)="openOrderDialog(order)"
              color="primary">
        Order {{order.id}}</button>
      <ng-template #noOrderBlock>
        <button mat-raised-button class="noOrder"
                (click)="openOrderDialog(order)"
                color="warn">
          Order {{order.id}}</button>
      </ng-template>

    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-fab color="accent"class="addOrder" (click)="createNewOrder()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-grid-tile>
  </mat-grid-list>

  <hr>
  <h2>Menu</h2>

  <button mat-button (click)="openAddMenuDialog()">Add</button>

  <mat-grid-list cols="4" rowHeight="15px">
    <mat-grid-tile>Name</mat-grid-tile>
    <mat-grid-tile>Description</mat-grid-tile>
    <mat-grid-tile>Price</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
  </mat-grid-list>
    <mat-grid-list class="menuItem" cols="4" rowHeight="75px" *ngFor="let menu of menuList">
      <mat-grid-tile>{{menu.name}}</mat-grid-tile>
      <mat-grid-tile>{{menu.description}}</mat-grid-tile>
      <mat-grid-tile>{{menu.price}}</mat-grid-tile>
      <mat-grid-tile>
        <button mat-button (click)="openAddDialog(menu)">Edit</button>
        <button mat-button (click)="deleteMenuItem(menu)">Delete</button>
      </mat-grid-tile>
    </mat-grid-list>



</mat-drawer-container>

