body
  font-family: 'Ubuntu', sans-serif
  position: relative

.main  
  background-color: #FFFFFF
  width: 400px
  height: 340px
  margin: 7em auto
  border-radius: 1.5em
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14)

.welcome
  text-align: center
  color: #8C55AA
  padding-top: 40px
  font-family: 'Ubuntu', sans-serif
  font-weight: bold
  font-size: 23px
  
.info
    text-align: center
    color: rgba(224,64,251, 0.7)
    font-family: 'Ubuntu', sans-serif
    top: 50%

form.form1
  padding-top: 40px

.pass
  font-family: 'Ubuntu', sans-serif
  transform: translate(48%, 48%)
  color: rgba(224,64,251, 0.7)
  padding-left: 15px
  letter-spacing: 42px
  border: 0
  background-image: linear-gradient(to left, black 70%, rgba(255, 255, 255, 0) 0%)
  background-position: bottom
  background-size: 50px 1px
  overflow: hidden
  background-repeat: repeat-x
  background-position-x: 35px
  width: 190px
  
.submit
  margin: 0
  position: relative
  top: 80px
  -ms-transform: translate(-50%, -50%)
  transform: translate(-50%, -50%)
  cursor: pointer
  border-radius: 5em
  color: #ffffff
  background: linear-gradient(to right, #9C27B0, #E040FB)
  border: 0
  padding-left: 40px
  padding-right: 40px
  padding-bottom: 10px
  padding-top: 10px
  font-family: 'Ubuntu', sans-serif

#divInner 
  left: 0
  position: sticky

#divOuter 
  width: 190px
  overflow: hidden

section
  text-align: center
  font-family: 'Ubuntu', 'sans-serif'
  color: rgba(224,64,251, 0.8)