<p>  <a href  = 'home'>Home</a> |  <a href = "https://google.co.uk">Create Account</a> </p>
<div class = "main">
    <div class = "sign">
        <h1 class = "welcome">Two-Factor Authentication</h1>
        <br/>
        <p class = "info">Enter your six-digit code.</p>
        <form class = "form1">
            <ng-otp-input class = "pass" (onInputChange)="onOtpChange($event)" [config]="{length:6}"></ng-otp-input>
            <input  (click) = "onSubmit()" type="submit" value="Login" class = "submit">
            <br/><br/><br/><br/><br/><br/>  
        </form>
    </div>
</div>
