<p>  <a href  = 'home'>Home</a> |  <a href = "https://google.co.uk">Create Account</a> </p>
<div class = "main">
    <div class = "sign">
        <h1 class = "welcome">Two-Factor Authentication</h1>
        <br/>
        <p class = "info">Enter your six-digit code.</p>
        <form class = "form1">
            <input class="pass" inputmode="numeric"  pattern="[0-9]*"  name = "auth"  placeholder = "Code.."/>
            <input  (click) = "onSubmit()" type="submit" value="Login" class = "submit">
            <br/><br/><br/><br/><br/>      
            <br/>    
        </form>
    </div>
</div>
