<mat-drawer-container class="example-container" autosize>
  <mat-toolbar class="toolBar">
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>reorder</mat-icon>
    </button>
    <span class="toolBarTitle">Manager Menu</span>
    <span class="spacer"></span>
    <a routerLink="/home">
      <button mat-button><img class="exitButton" src="assets/images/door.png"></button>
    </a>
  </mat-toolbar>
  <br><br><br>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <a routerLink="/manager-menu/add-ingredient">
      <button mat-button><img class = "quickAddButton" src="assets/images/ingredients.png"></button>
    </a><br><br><br>
    <a routerLink="/manager-menu/add-staff">
      <button mat-button><img class = "quickAddButton" src="assets/images/staff.png"></button>
    </a><br><br><br>
    <button mat-button (click) = "createNewOrder()"><img class = "quickAddButton" src="assets/images/food.png"></button><br><br><br>
    <button mat-button (click) = "createNewTable()"><img class = "quickAddButton" src="assets/images/table-dinner-restaurant-furniture-chair-512.png"></button><br><br><br>
    <button mat-button (click) = "openAddMenuDialog()"><img class = "quickAddButton" src="assets/images/burito.png"></button><br><br><br>
  </mat-drawer>
  <app-tables-list-display></app-tables-list-display>

  <app-orders-list-display [createPermission]="true" [isKitchenStaff]="false">
  </app-orders-list-display>
  <app-menus-list-display></app-menus-list-display>
</mat-drawer-container>