<mat-drawer-container class="example-container" autosize>
  <mat-toolbar>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>reorder</mat-icon>
    </button>
    <span>Manager Menu</span>
    <span class="spacer"></span>
    <notifications class="notifications"></notifications>
  </mat-toolbar>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul class="buttonRow">
      <li class="flex-item">
        <a routerLink="/manager-menu/add-staff">
          <button mat-button>Add Staff</button>
        </a>
      </li>

    </ul>
    <ul class="botButtonRow">
      <li class="flex-item">
        <button mat-button color="warn">Log Out</button>
      </li>
    </ul>
  </mat-drawer>
  <app-tables-list-display></app-tables-list-display>

  <app-orders-list-display
    [createPermission]="true"
    [isKitchenStaff]="false"
  >
  </app-orders-list-display>

  <hr>
  <app-menus-list-display></app-menus-list-display>
</mat-drawer-container>
