<mat-drawer-container class="example-container" autosize>
  <div class="container-fluid toolBar">
    <div class="row align-items-center">
      <div class="col-2">
        <button type="button" mat-button (click)="drawer.toggle()">
          <mat-icon>reorder</mat-icon>
        </button>
      </div>
      <div class="col-8 text-center toolBarTitle ">
        Manager Menu
      </div>
      <div class="col-2 text-right">
        <a routerLink="/home">
          <button mat-button><img class="exitButton" src="assets/images/door.png"></button>
        </a>
      </div>
    </div>
  </div>

  <br><br><br>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <a routerLink="/manager-menu/add-ingredient">
      <button mat-button>
        <div class="container-fluid quickAddButton">
          <img class="row justify-content-center quickAddButton" src="assets/images/ingredients.png">
          <p class="row justify-content-center">Manage Stock</p>
        </div>
      </button>
    </a><br><br><br>
    <a routerLink="/manager-menu/add-staff">
      <button mat-button>
        <div class="container-fluid quickAddButton">
          <img class="row justify-content-center quickAddButton" src="assets/images/staff.png">
          <p class="row justify-content-center">Manage Staff</p>
        </div>
      </button>
    </a><br><br><br>
    <button mat-button (click)="createNewOrder()">
      <div class="container-fluid quickAddButton">
        <img class="row justify-content-center quickAddButton" src="assets/images/order.png">
        <p class="row justify-content-center">Create Order</p>
      </div>
    </button><br><br><br>
    <button mat-button (click)="createNewTable()">
      <div class="container-fluid quickAddButton">
        <img class="row justify-content-center quickAddButton"
          src="assets/images/table-dinner-restaurant-furniture-chair-512.png">
        <p class="row justify-content-center">Add Table</p>
      </div>
    </button><br><br><br>
    <button mat-button (click)="openAddMenuDialog()">
      <div class="container-fluid quickAddButton">
        <img class="row justify-content-center quickAddButton" src="assets/images/burito.png">
        <p class="row justify-content-center">Add To Menu</p>
      </div>
    </button><br><br><br>
  </mat-drawer>
  <app-tables-list-display></app-tables-list-display>

  <app-orders-list-display [createPermission]="true" [isKitchenStaff]="false">
  </app-orders-list-display>
  <app-menus-list-display></app-menus-list-display>
</mat-drawer-container>