.toolBarTitle
  font-family: 'Raleway', sans-serif
  font-size: 50px

.toolBar
  background-color: #76cfb9
  z-index: 1
  color: white
  position: fixed
  height: 60px
  padding: 10px

.example-sidenav
  position: fixed

.quickAddButton
  width: 60px
  height: 60px

.spacer
  flex: 1 1 auto

a
  color: #000000

.exitButton
  width: 35px
  height: 35px
