<div *ngFor="let meal of mealList">
    <p *ngIf="meal.selected==true; else notSelectedBlock">
        <button class="isSelected" >
             {{meal.id}}. {{meal.name}} ---{{meal.price}}$ <b>x{{meal.nrSelections}}</b>
        </button>
    </p>
  
    <ng-template #notSelectedBlock>
        <p>
            <button>
                {{meal.id}}. {{meal.name}} ---{{meal.price}}$ <b>x{{meal.nrSelections}}</b>
            </button>
        </p>
    </ng-template>
    <mat-divider></mat-divider>
</div>

