<div>
    <p>Select Table</p>
    <mat-form-field appearance="fill" >
        <mat-label>Available Tables</mat-label>
        <mat-select [(ngModel)]="selectedTable" name="table">
            <mat-option [value]="table" *ngFor="let table of tables">Table {{table.tableNumber}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>

<div>
    <button mat-raised-button (click) = callWaiter()>Call Waiter</button>
</div>

<div>
    <button mat-raised-button (click) = cancelCallWaiter()>Cancel</button>
</div>
