#dialogTitle
  font-family: ink Free
  font-size: 40px
  font-weight: bold
  background-color: rgb(230, 255, 255)
  text-align: centre

#waiterCalled
  color: black
  font-family: ink Free
  font-size: 30px
  font-weight: bold
  background-color: rgb(230, 255, 255)

button
  font-family: ink Free
  font-size: 20px
  font-weight: bold

button:hover 
  background-color: rgb(230, 255, 255)
  color: black

