<button mat-button class="staffLogin">
  <a href="/login" class="removeUnderline">Staff login</a>
</button>
<div class="container titleDiv">
  <div class="row">
    <div class="row">
      <div class="col align-content-center">
        <h1 class="title display-1"
            style="
           font-family: 'Cedarville Cursive', cursive;
           font-size: 6vw;
          ">Las Chinampas</h1>
            <button class="col btn circle-dark-dashed" mat-button style="width: 100%" (click)="toMenu()">See Menu</button>
      </div>
    </div>
  </div>
</div>
