$background: #FFFDED
$pure-gold: #dbc028
$gold-light: #f6ce66
$maroon: #3b0d0d
$titleFont: 'Cedarville Cursive', cursive

body
  background-image: url('../../assets/images/background.jpg')
  background-size: cover

.toolbar
  padding-bottom: 100px
  background-color: #0e0b00

.title
  font-family: "Cedarville Cursive", cursive
  font-size: 100px
  padding: 25px
  color: $gold-light
  display: flex
  height: 100vh
  justify-content: center
  align-items: center
  text-shadow: #0e0b00

.titleRow
  height: 250px

.img
  width: 150px
  height: 150px

.halfDiv
  height: 40%
  width: 50%

