<button mat-button class="staffLogin" routerLink="/login" routerLinkActive="active">Staff login</button>
<div class="container titleDiv">
  <div class="row">
    <div class="row">
      <div class="col align-content-center">
        <h1 class="title display-1"
            style="
           font-family: 'Cedarville Cursive', cursive;
           font-size: 6vw;
          ">Las Chinampas</h1>
          <div class="col btn circle-dark-dashed">
            <button mat-button style="width: 100%">See Menu</button>
          </div>
      </div>
    </div>

  </div>

</div>


