<h2 mat-dialog-title>{{data.title}}</h2>
<mat-dialog-content class="container">
  <div class="row">
    <mat-form-field class="col">
      <mat-label>Name</mat-label>
      <input matInput [(ngModel)]="data.ingredient.name" />
    </mat-form-field>
    <mat-form-field class="col">
      <mat-label>Quantity</mat-label>
      <input matInput class="fixInput" [(ngModel)]="data.ingredient.quantity" />
    </mat-form-field>
    <mat-form-field class="col">
      <mat-label>Price per Item</mat-label>
      <input matInput class="fixInput" [(ngModel)]="data.ingredient.pricePerItem" />
    </mat-form-field>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="this.data.ingredient">Ok</button>
</mat-dialog-actions>