$btnSize: 75%
$hasOrder: green
$noOrder: red

.readyToOrder
  border-color: $hasOrder
  width: $btnSize
  height: $btnSize

.noIsReadyToOrder
  border-color: $noOrder
  width: $btnSize
  height: $btnSize
