<br><br>
<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <p class="display-3"><b>Tables</b></p>
    <img src="assets/images/table-dinner-restaurant-furniture-chair-512.png" class="deliveryImg">
  </div>
</div>

<mat-grid-list [cols]="this.windowWidth" rowHeight="200px">
  <mat-grid-tile *ngFor="let table of tableList" >
    <button *ngIf="table.needsHelp && table.isReady else needsHelpBlock" mat-raised-button class="needsHelpReadyToOrder" (click) = "markAsHelped(table)">
      <span class = "tableNumber">Table {{table.tableNumber}}</span> <br>
      <span>Needs Help and is Ready to Order!</span>
    </button>

    <ng-template #needsHelpBlock>
      <button *ngIf="table.needsHelp else noNeedsHelpBlock" mat-raised-button class="needsHelp" color="accent" (click) = "markAsHelped(table)">
        <span class = "tableNumber">Table {{table.tableNumber}}</span> <br>
        Needs Help!
      </button>
    </ng-template>

    <ng-template #noNeedsHelpBlock>
        <button *ngIf="table.isReady else noIsReadyBlock" mat-raised-button class="readyToOrder" color="warn" (click) = "markAsHelped(table)">
          <span class = "tableNumber">Table {{table.tableNumber}}</span> <br>
          is Ready to Order!
        </button>
    </ng-template>

    <ng-template #noIsReadyBlock>
      <button mat-raised-button class="noIsReadyToOrder" color="primary" (click) = "markAsHelped(table)">
        <span class = "tableNumber">Table {{table.tableNumber}}</span> <br>
      </button>
    </ng-template>
  </mat-grid-tile>
  <!-- <mat-grid-tile>
    <button mat-fab color="accent" class="addTable" (click)="createNewTable()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-grid-tile> -->
</mat-grid-list>
