<div class="container-fluid">
  <div class="row justify-content-center align-items-center">
    <p class="display-3"><b>Orders</b></p>
    <img src="assets/images/order.png" class="deliveryImg">
  </div>
</div>
<mat-grid-list [cols]="this.columns" rowHeight="300px">
  <mat-grid-tile *ngFor="let order of orders">

    <button *ngIf="order.isConfirmed && order.isDelivered && order.isReady && order.isPaid else deliveredNotPaid"
      mat-raised-button class="deliveredPaidButton" (click)="openOrderDialog(order)">
      <h1>Order #{{order.id}}</h1>
      <p> order-confirmed | delivered</p>
      <p> (paid)</p>
      <p>Time Ordered: {{getDate(order.orderPlacedTime).getUTCHours()}}:{{getDate(order.orderPlacedTime).getMinutes()}}
      </p>
    </button>

    <ng-template #deliveredNotPaid>

      <button
        *ngIf="order.isConfirmed && order.isDelivered && order.isReady && !order.isPaid  else confirmedNoDeliverBlock"
        mat-raised-button class="confirmDeliverButton" (click)="openOrderDialog(order)" color="primary">
        <h1>Order #{{order.id}}</h1>
        <h4>PREPARED ORDER HAS BEEN DELIVERED</h4>
        <h4>AWAITING PAYMENT</h4>
        <img src="assets/images/payment-method.png" class="deliveryImg">
        <p *ngIf="!order.isPaid else PaidBlock"> (not-paid)</p>
        <p>Time Ordered:
          {{getDate(order.orderPlacedTime).getUTCHours()}}:{{getDate(order.orderPlacedTime).getMinutes()}}</p>
      </button>

    </ng-template>

    <ng-template #confirmedNoDeliverBlock>

      <button *ngIf="order.isConfirmed && order.isReady && !order.isDelivered else confirmedReadyNoDeliver"
        mat-raised-button class="orderBtn" (click)="openOrderDialog(order)" color="accent">
        <h1>Order #{{order.id}}</h1>
        <h4>ORDER IS READY FOR DELIVERY</h4>
        <img src="assets/images/food.png" class="deliveryImg">
        <p *ngIf="!order.isPaid else PaidBlock"> (not-paid)</p>
        <p>Time Ordered:
          {{getDate(order.orderPlacedTime).getUTCHours()}}:{{getDate(order.orderPlacedTime).getMinutes()}}</p>
      </button>

    </ng-template>

    <ng-template #confirmedReadyNoDeliver>

      <button *ngIf="order.isConfirmed && !order.isReady else noConfirmedBlock" mat-raised-button class="orderBtn"
        (click)="openOrderDialog(order)" color="accent">
        <h1>Order #{{order.id}}</h1>
        <h4>ORDER IS BEING PREPARED</h4>
        <img src="assets/images/cooking.png" class="deliveryImg">
        <p *ngIf="!order.isPaid else PaidBlock"> (not-paid)</p>
        <p>Time Ordered:
          {{getDate(order.orderPlacedTime).getUTCHours()}}:{{getDate(order.orderPlacedTime).getMinutes()}}</p>
      </button>

    </ng-template>


    <ng-template #noConfirmedBlock>

      <button *ngIf="!order.isConfirmed" mat-raised-button class="orderBtn" (click)="openOrderDialog(order)"
        color="warn">
        <h1>Order #{{order.id}}</h1>
        <h4>NEEDS CONFIRMATION</h4>
        <img src="assets/images/confirm.png" class="deliveryImg">
        <p *ngIf="!order.isPaid else PaidBlock"> (not-paid)</p>
        <p>Time Ordered:
          {{getDate(order.orderPlacedTime).getUTCHours()}}:{{getDate(order.orderPlacedTime).getMinutes()}}</p>
      </button>

    </ng-template>
  </mat-grid-tile>

  <ng-template #PaidBlock><br>(paid)</ng-template>
</mat-grid-list>
