<h2>Orders</h2>
<mat-grid-list  [cols]="this.windowWidth" rowHeight="300px">
  <mat-grid-tile *ngFor="let order of orders">

      <button *ngIf="order.isConfirmed && order.isDelivered && order.isReady && order.isPaid else deliveredNotPaid" mat-raised-button class="deliveredPaidButton"
              (click)="openOrderDialog(order)">
        <h1>Order #{{order.id}}</h1>
        <h2> order-confirmed | delivered</h2>
        <p> (paid)</p>
        <p>Time Ordered: {{getDate(order.orderPlacedTime).getUTCHours()}}:{{getDate(order.orderPlacedTime).getMinutes()}}</p>
      </button>

    <ng-template #deliveredNotPaid>

      <button *ngIf="order.isConfirmed && order.isDelivered && order.isReady && !order.isPaid  else confirmedNoDeliverBlock" mat-raised-button class="confirmDeliverButton"
              (click)="openOrderDialog(order)"
              color="primary">
        <h1>Order #{{order.id}}</h1>
        <h2>PREPARED ORDER HAS BEEN DELIVERED</h2>
        <h2>AWAITING PAYMENT</h2>
        <img src="assets/images/payment-method.png" class="deliveryImg">
        <p *ngIf = "!order.isPaid else PaidBlock"> (not-paid)</p>
        <p>Time Ordered: {{getDate(order.orderPlacedTime).getUTCHours()}}:{{getDate(order.orderPlacedTime).getMinutes()}}</p>
      </button>

    </ng-template>

    <ng-template #confirmedNoDeliverBlock>

      <button *ngIf="order.isConfirmed && order.isReady && !order.isDelivered else confirmedReadyNoDeliver" mat-raised-button class="orderBtn"
              (click)="openOrderDialog(order)"
              color="accent">
        <h1>Order #{{order.id}}</h1>
        <h2>ORDER IS READY FOR DELIVERY</h2>
        <img src="assets/images/food.png" class="deliveryImg">
        <p *ngIf = "!order.isPaid else PaidBlock"> (not-paid)</p>
        <p>Time Ordered: {{getDate(order.orderPlacedTime).getUTCHours()}}:{{getDate(order.orderPlacedTime).getMinutes()}}</p>
      </button>

    </ng-template>

    <ng-template #confirmedReadyNoDeliver>

      <button *ngIf="order.isConfirmed && !order.isReady else noConfirmedBlock" mat-raised-button class="orderBtn"
              (click)="openOrderDialog(order)"
              color="accent">
        <h1>Order #{{order.id}}</h1>
        <h2>ORDER IS BEING PREPARED</h2>
        <img src="assets/images/food.png" class="deliveryImg">
        <p *ngIf = "!order.isPaid else PaidBlock"> (not-paid)</p>
        <p>Time Ordered: {{getDate(order.orderPlacedTime).getUTCHours()}}:{{getDate(order.orderPlacedTime).getMinutes()}}</p>
      </button>

    </ng-template>


    <ng-template #noConfirmedBlock>

      <button *ngIf="!order.isConfirmed" mat-raised-button class="orderBtn"
              (click)="openOrderDialog(order)"
              color="warn">
        <h1>Order #{{order.id}}</h1>
        <h2>NEEDS CONFIRMATION</h2>
        <img src="assets/images/confirm.png" class="deliveryImg">
        <p *ngIf = "!order.isPaid else PaidBlock"> (not-paid)</p>
        <p>Time Ordered: {{getDate(order.orderPlacedTime).getUTCHours()}}:{{getDate(order.orderPlacedTime).getMinutes()}}</p>
      </button>

    </ng-template>
  </mat-grid-tile>

  <ng-template #PaidBlock>(paid)</ng-template>

  <mat-grid-tile *ngIf="createPermission">
    <button mat-fab color="accent"class="addOrder" (click)="createNewOrder()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
