<h2>Orders</h2>
<mat-grid-list  [cols]="this.windowWidth" rowHeight="250px">
  <mat-grid-tile *ngFor="let order of orders">

    <button *ngIf="order.isConfirmed && order.isDelivered else confirmedNoDeliverBlock" mat-raised-button class="confirmDeliverButton"
            (click)="openOrderDialog(order)"
            color="primary">
      <h1>Order #{{order.id}}</h1>
      <h2> order-confirmed | delivered</h2>
      <p>Time Ordered: {{getDate(order.orderPlacedTime).getUTCHours()}}:{{getDate(order.orderPlacedTime).getMinutes()}}</p>
    </button>

    <ng-template #confirmedNoDeliverBlock>
      <button *ngIf="order.isConfirmed && !order.isDelivered else noConfirmedBlock" mat-raised-button class="confirmDeliverButton"
              (click)="openOrderDialog(order)"
              color="accent">
        <h1>Order #{{order.id}}</h1>
        <h2> order-confirmed | not-delivered</h2>
        <p>Time Ordered: {{getDate(order.orderPlacedTime).getUTCHours()}}:{{getDate(order.orderPlacedTime).getMinutes()}}</p>
      </button>
    </ng-template>

    <ng-template #noConfirmedBlock>
      <button *ngIf="!order.isConfirmed" mat-raised-button class="confirmDeliverButton"
              (click)="openOrderDialog(order)"
              color="warn">
        <h1>Order #{{order.id}}</h1>
        <h2>not-confirmed | not-delivered</h2>
        <p>Time Ordered: {{getDate(order.orderPlacedTime).getUTCHours()}}:{{getDate(order.orderPlacedTime).getMinutes()}}</p>
      </button>
    </ng-template>
  </mat-grid-tile>

  <mat-grid-tile *ngIf="createPermission">
    <button mat-fab color="accent"class="addOrder" (click)="createNewOrder()">
      <mat-icon>add</mat-icon>
    </button>
  </mat-grid-tile>
</mat-grid-list>
