.title
    font-size: 30px
    text-decoration: underline
    font-family: 'Cedarville Cursive', cursive
    color: #b9a239
    align-text: left

.orderPlacedMessage
    display: block
    font-family: 'Cedarville Cursive', cursive
    font-size: 30px
    margin: auto
    color: #b9a239

.emptyShoppingCartBlock
    display: block
    font-family: 'Cedarville Cursive', cursive
    font-size: 30px
    margin: auto
    color: #b9a239

.selection-fab
  background-color: #3b0d0d
  font-family: 'Raleway', sans-serif
  color: #b9a239
  font-size: 20px

.meal
  font-family: 'Raleway', sans-serif
  font-size: 20px

.numberOfSelections
  font-family: 'Raleway', sans-serif
  font-size: 20px

.placeOrder
  font-family: 'Raleway', sans-serif
  font-size: 20px
  color: #b9a239
