.title
  font-size: 30px
  font-family: 'Cedarville Cursive', cursive
  color: #b9a239

.selectedItemsTitle
  display: block
  text-decoration: none
  font-family: 'Cedarville Cursive', cursive
  font-size: 30px
  margin: auto
  color: #b9a239
  padding: 10px

.orderPlacedMessage
  display: block
  font-family: 'Raleway', sans-serif

.emptyShoppingCartBlock
  text-align: center
  display: block
  background-color: #388572
  color: #b9a239
  font-family: 'Raleway', sans-serif
  margin: auto

.meal
  font-family: 'Raleway', sans-serif
  font-size: 15px

.numberOfSelections
  font-size: 15px

.placeOrder
  font-family: 'Raleway', sans-serif
  background-color: #388572
  font-size: 15px
  color: #b9a239

.selection-fab
  background-color: #388572
  font-size: 15px
  font-family: 'Raleway', sans-serif
  color: #b9a239

.selectedItems
  font-family: 'Raleway', sans-serif
  font-size: 15px

.list
  text-align: center

.center
  display: block
  margin: auto

#emptyShoppingCartBlock
  text-align: center
