
<div class = "closeDialogButton" >Shopping Cart
    <button mat-icon-button (click) = close()><mat-icon>cancel</mat-icon></button></div>
<mat-list>
    <mat-list-item *ngFor="let menuItem of menuList">
        {{menuItem.name}}
        &nbsp;&nbsp;&nbsp;&nbsp;x{{menuItem.selections}}
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Price: {{menuItem.price * menuItem.selections}}$
        <button mat-button color="accent" (click) = "add(menuItem)">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-button color="accent" (click) = "remove(menuItem)">
            <mat-icon>remove</mat-icon>
        </button>
        <button mat-button color="accent" (click) = "clear(menuItem)">
            <mat-icon>clear</mat-icon>
        </button>
    </mat-list-item>
    <mat-list-item>
        <div class="center">
            Total: {{priceTotal(menuList)}}$
        </div>
    </mat-list-item>
    <mat-list-item>
        <div class="center">
            <button mat-flat-button color="accent" (click) = "placeOrder()">
                Place Order
            </button>
        </div>
    </mat-list-item>
</mat-list>