<div class = "tableSelection" >
    <div id = "dialogTitle"><br>Select your Table<br><br></div>
    <br>
    <mat-form-field appearance="fill" id = "tableSelection">
        <mat-label>Available tables</mat-label>
        <mat-select [(ngModel)]="selectedTable" name="table">
            <mat-option [value]="table" *ngFor="let table of tables">Table {{table.tableNumber}}</mat-option>
        </mat-select>
    </mat-form-field>
</div>
<div>
    <button mat-raised-button (click) = forCustomer()>Submit</button>
</div>
