<img class = "menuTitle" src="assets/images/burito.png">
<!-- <button mat-button (click)="openAddMenuDialog()">Add</button> -->

<mat-grid-list cols="5" rowHeight="15px">
  <mat-grid-tile>Name</mat-grid-tile>
  <mat-grid-tile>Description</mat-grid-tile>
  <mat-grid-tile>Price</mat-grid-tile>
  <mat-grid-tile>Ingredients</mat-grid-tile>
  <mat-grid-tile></mat-grid-tile>
</mat-grid-list>
<mat-grid-list class="menuItem" cols="5" rowHeight="75px" *ngFor="let menu of menuList">
  <mat-grid-tile>{{menu.name}}</mat-grid-tile>
  <mat-grid-tile>{{menu.description}}</mat-grid-tile>
  <mat-grid-tile>{{menu.price}}</mat-grid-tile>
  <mat-grid-tile>{{menu.ingredientsName}}</mat-grid-tile>
  <mat-grid-tile>
    <button *ngIf="isAuth" mat-button (click)="openEditMenuDialog(menu)">Edit</button>
    <button *ngIf="isAuth" mat-button (click)="deleteMenuItem(menu)">Delete</button>
  </mat-grid-tile>
</mat-grid-list>
