<img class = "menuTitle" src="assets/images/burito.png">
<!-- <button mat-button (click)="openAddMenuDialog()">Add</button> -->

<h1>Manage Menu Items</h1>
<table class="table">
  <thead>
  <tr>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Price</th>
    <th scope="col">Ingredients</th>
    <th scope="col"></th>
  </tr>
  </thead>
  <tbody>
  <tr class="menuItem" *ngFor="let menu of menuList">
    <th scope="row">{{menu.name}}</th>
    <td>{{menu.description}}</td>
    <td>{{menu.price}}</td>
    <td>{{menu.ingredientsName}}</td>
    <td class="text-right">
      <button *ngIf="isAuth" mat-button (click)="openEditMenuDialog(menu)">Edit</button>
      <button *ngIf="isAuth" mat-button (click)="deleteMenuItem(menu)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>

<h1>Manage Categories</h1>
<button mat-button (click)="openAddCategoryDialog()">Add Category</button>
<table class="table">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col" class="text-center">Cateogory</th>
  </tr>
  </thead>
  <tbody>
  <tr class="menuItem" *ngFor="let category of categories; let i = index">
    <th scope="row" >{{i+1}}</th>
    <td class="text-center">{{category.category}}</td>
    <td class="text-right">
      <button *ngIf="isAuth" mat-button (click)="openEditCategoryDialog(category)">Edit</button>
      <button *ngIf="isAuth" mat-button (click)="deleteCategoryItem(category)">Delete</button>
    </td>
  </tr>
  </tbody>
</table>
