<div class = "main">
    <div class = "sign">
        <h1 class = "welcome">Sign In</h1>
        <form class = "form1">
            <input class="un"  type = "text" name = "username" [(ngModel)] = "username" placeholder = "Username" >
            <br/>
            <input class="pass" type = "password"  name = "password" [(ngModel)] = "password" placeholder = "Password"/>
            <br/>
            <b class = "staff">Waiter: <input type = "radio"> Kitchen Staff: <input type = "radio"> </b>
            <input  (click) = "onSubmit()" type="submit" value="Login" class = "submit">
            <br/><br/><br/><br/><br/>
            <section><a href = "https://google.co.uk">Create Account</a></section>      
            <br/>      
            <section class="content" *ngIf="html" [innerHTML]="html"></section>
        </form>
    </div>
</div>