<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main">
    <div class="sign">
        <button mat-icon-button (click)=goHome() class="home">
            <mat-icon>home</mat-icon>
        </button>
        <h1 class="welcome">Log In</h1>
        <form class="form1">
            <input class="un" type="text" name="username" [(ngModel)]="username" placeholder="Username">
            <br />
            <input class="pass" type="password" name="password" [(ngModel)]="password" placeholder="Password" />
            <input (click)="onSubmit()" type="submit" value="Login" class="submit">
        </form>
    </div>
</div>