<div mat-dialog-title>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 mat-dialog-title>Order #{{order.id}}</h1>
      </div>
      <div class="col">
        <mat-checkbox *ngIf="order.isConfirmed" [(ngModel)]="order.isPaid" (change)="updateOrderIsPaid(order)">Paid</mat-checkbox>
      </div>
      <div class="col">
        <mat-checkbox *ngIf="order.isConfirmed" [(ngModel)]="order.isDelivered" (change)="updateOrderDelivered(order)">Delivered</mat-checkbox>
      </div>
      <div class="col">
        <mat-checkbox [(ngModel)]="order.isConfirmed" (change)="updateOrderConfirmed(order)">Confirmed</mat-checkbox>
      </div>
    </div>
  </div>
  <hr>
  <mat-dialog-content class="mat-dialog">
    <div class="container">
      <div class="row">
        <div class="col-5">
          <div class="table-wrapper-scroll-y my-custom-scrollbar">
            <table class="table table-striped orderedItemsTable">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Item</th>
                <th scope="col">Price</th>
                <th scope="col">Qty</th>
                <th scope="col">Delete</th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let meal of orderedMealItems$ | async; let i = index">
                <td>{{i+1}}</td>
                <td>{{meal.menu.name}}</td>
                <td>£{{meal.menu.price}}</td>
                <td>x{{meal.numberSelections}}</td>
                <td><button (click)="deleteOrderedMenuItem(meal)"><mat-icon>delete</mat-icon></button></td>
              </tr>
              </tbody>
            </table>
          </div>
            <h3>Total: £{{total}}</h3>
        </div>
        <div class="col-7">
          <div class="row">
            <div *ngFor="let menu of menuList" class="col">
              <button mat-raised-button class="foodBtn"
                      (click)="addMenuToOrder(menu, order)">{{menu.name}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close (click)="save(order)">Save</button>
    <button mat-button (click)="deleteOrder()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
