<div>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 mat-dialog-title>Order #{{order.id}}</h1>
      </div>
      <div class="col">
        <mat-checkbox *ngIf="order.isConfirmed" [(ngModel)]="order.isPaid" (change)="updateOrderIsPaid(order)">Paid</mat-checkbox>
      </div>
      <div class="col">
        <mat-checkbox *ngIf="order.isConfirmed" [(ngModel)]="order.isDelivered" (change)="updateOrderDelivered(order)">Delivered</mat-checkbox>
      </div>
      <div class="col">
        <mat-checkbox [(ngModel)]="order.isConfirmed" (change)="updateOrderConfirmed(order)">Confirmed</mat-checkbox>
      </div>
    </div>

  </div>

  <hr>

  <mat-dialog-content class="mat-dialog">
    <mat-grid-list cols="4" rowHeight="700px" style="height: 400px">
      <mat-grid-tile colspan="1" class="tile">
        <mat-card class="card">
          <mat-card-title>Meals</mat-card-title>
          <mat-card-content>
            <mat-list *ngFor="let meal of orderedMealItems$ | async">
              <mat-list-item>
                <p mat-card-subtitle style="font-size:14px" mat-line>{{meal.menu.name}}</p>
                <p mat-subheader>({{meal.menu.price}}$)</p>
                <p mat-subheader>x{{meal.numberSelections}}</p>
              </mat-list-item>
              <mat-divider></mat-divider>
            </mat-list>
          </mat-card-content>
          <mat-card-title>Total: {{total}}$</mat-card-title>
        </mat-card>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <mat-card class="card">
          <mat-card-header>
            <mat-card-title>ITEMS</mat-card-title>
          </mat-card-header>
          <mat-card-content class="container">
            <div class="row">
              <div *ngFor="let menu of menuList" class="col">
                <button mat-raised-button style="width: 100%; color: green; font-stretch: condensed"
                        (click)="addMenuToOrder(menu, order)">{{menu.name}}</button>
              </div>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
<!--      <mat-grid-tile colspan="1">-->
<!--        <mat-card class="card">-->
<!--          <mat-card-header>-->
<!--            <mat-card-title style="color: green">FOOD</mat-card-title>-->
<!--            <mat-card-title style="color: lightblue">DRAUGHT</mat-card-title>-->
<!--            <mat-card-title style="color: coral">MINERALS</mat-card-title>-->
<!--            <mat-card-title style="color: pink">COCKTAILS</mat-card-title>-->
<!--          </mat-card-header>-->
<!--        </mat-card>-->
<!--      </mat-grid-tile>-->
    </mat-grid-list>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close (click)="save(order)">Save</button>
    <button mat-button (click)="deleteOrder()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
