<div mat-dialog-title>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1 mat-dialog-title>Order #{{order.id}}</h1>
      </div>
      <div class="col">
        <mat-checkbox *ngIf="order.isConfirmed" [(ngModel)]="order.isPaid" (change)="updateOrderIsPaid(order)">Paid</mat-checkbox>
      </div>
      <div class="col">
        <mat-checkbox *ngIf="order.isConfirmed" [(ngModel)]="order.isDelivered" (change)="updateOrderDelivered(order)">Delivered</mat-checkbox>
      </div>
      <div class="col">
        <mat-checkbox [(ngModel)]="order.isConfirmed" (change)="updateOrderConfirmed(order)">Confirmed</mat-checkbox>
      </div>
    </div>
  </div>
  <mat-dialog-content class="mat-dialog">
    <div class="container">
      <div class="row">
        <div class="col-4">
          <mat-card class="card">
            <h1>Meals</h1>
            <table class="table orderedItemsTable">
              <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Price</th>
                <th scope="col">Amount</th>
              </tr>
              </thead>
              <tbody>
                <tr *ngFor="let meal of orderedMealItems$ | async; let i = index">
                  <td>{{i+1}}</td>
                  <td>{{meal.menu.name}}</td>
                  <td>(£{{meal.menu.price}})</td>
                  <td>x{{meal.numberSelections}}</td>
                </tr>
              </tbody>
            </table>
            <mat-card-title>Total: {{total}}$</mat-card-title>
          </mat-card>
        </div>
        <div class="col-8">
          <mat-card class="card">
            <mat-card-header>
              <mat-card-title>ITEMS</mat-card-title>
            </mat-card-header>
            <mat-card-content class="container">
              <div class="row">
                <div *ngFor="let menu of menuList" class="col">
                  <button mat-raised-button style="width: 100%; color: green; font-stretch: condensed"
                          (click)="addMenuToOrder(menu, order)">{{menu.name}}</button>
                </div>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button mat-dialog-close (click)="save(order)">Save</button>
    <button mat-button (click)="deleteOrder()">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-dialog-actions>
</div>
