<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Filter
        </mat-panel-title>
        <mat-panel-description>
            Filter by Allergens, Calories or Dish Type
        </mat-panel-description>
      </mat-expansion-panel-header>
      <food-categories></food-categories>
      <allergens-chips></allergens-chips>
      <p>Calories (kCal) <calories-slider></calories-slider></p>
    </mat-expansion-panel>
  </mat-accordion>
