<mat-accordion>
    <mat-expansion-panel hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title id = "title">
            Filter
        </mat-panel-title>
        <mat-panel-description id = "description">
            Filter by Allergens, Calories or Dish Type
        </mat-panel-description>
      </mat-expansion-panel-header>
      <div id = "food-categories">
            <p> <b>Food Categories</b> <br><br> <food-categories></food-categories></p></div>
      <div id = "allergens and calories">
            <p> <b>Allergens and Calories</b> <allergens-chips></allergens-chips></p></div>
    </mat-expansion-panel>
</mat-accordion>
