.title
  font-size: 60px
  font-family: 'Cedarville Cursive', cursive
  color: #dbc028
  height: 100px

.orderStatusTitle
  text-align: center
  font-size: 30px
  padding: 15px
  font-family: 'Cedarville Cursive', cursive
  color: #b9a239

.noOrderBlock
  display: flex
  justify-content: center
  font-family: 'Raleway', sans-serif

.orderStatus
  background-color: #388572
  color: #b9a239
  font-family: 'Raleway', sans-serif

.tableHead
  background-color: #388572
  font-family: 'Reenie Beanie', cursive
  font-size: 25px
  color: #dbc028
  font-weight: bold
