.title
  font-size: 30px
  font-family: 'Cedarville Cursive', cursive
  color: #b9a239

.orderStatusTitle
  font-size: 30px
  padding: 15px
  font-family: 'Cedarville Cursive', cursive
  color: #b9a239

.orderedItemsTitle
  font-size: 30px
  padding: 15px
  font-family: 'Cedarville Cursive', cursive
  color: #b9a239

.noOrderBlock
  display: flex
  justify-content: center
  font-family: 'Raleway', sans-serif