<mat-dialog-content>
  <mat-grid-list cols="1" rowHeight="80px">
    <mat-grid-tile colspan="1" class="title">
      Orders
    </mat-grid-tile>
    <br>
  </mat-grid-list>
  <table class="table">
    <thead class="tableHead">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Status</th>
        <th scope="col">Total</th>
        <th scope="col">Confirmed</th>
        <th scope="col">Paid</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let order of orders">
        <td><b>{{order.id}}</b></td>
        <td *ngIf="!order.isConfirmed">A waiter has to confirm the order</td>
        <td *ngIf="order.isConfirmed">Order is being prepared</td>
        <td *ngIf="order.isReady">Order is ready</td>
        <td *ngIf="order.isDelivered">Order was delivered</td>
        <td>{{order.total}}</td>
        <td>{{order.isConfirmed}}</td>
        <td>{{order.isPaid}}</td>
        <td *ngIf="order.isPaid == false && order.isConfirmed == true">
          <button mat-button (click)="navigateToPayment(order.id)">Pay</button>
        </td>
      </tr>
    </tbody>
  </table>
</mat-dialog-content>