<mat-drawer-container class="example-container" autosize>
  <mat-toolbar class="toolBar">
    <a routerLink="/manager-menu">
      <button mat-button><img class="quickAddButton" src="assets/images/manager.jpg"></button>
    </a><br>
    <span class="toolBarTitle">Staff</span>
    <span class="spacer"></span>
    <a routerLink="/home">
      <button mat-button><img class="quickAddButton" src="assets/images/door.png"></button>
    </a>
  </mat-toolbar>
  <br><br><br><br><br>
  <img class="staffTitle" src="assets/images/staff.png">
  <br><br>
  <div class="tableTitle">
    <mat-grid-list cols="6" rowHeight="35px">
      <mat-grid-tile>Email</mat-grid-tile>
      <mat-grid-tile>User Name</mat-grid-tile>
      <mat-grid-tile>Staff</mat-grid-tile>
      <mat-grid-tile>Sales</mat-grid-tile>
<!--      <mat-grid-tile>Delivered Orders</mat-grid-tile>-->
      <mat-grid-tile>
        <button mat-button (click)="openAddStaffDialog()" class="addButton">Add/Edit</button>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
  <mat-grid-list class="menuItem" cols="6" rowHeight="75px" *ngFor="let staff of staffs">
    <mat-grid-tile>{{staff.email}}</mat-grid-tile>
    <mat-grid-tile>{{staff.userName}}</mat-grid-tile>
    <mat-grid-tile>
      <span *ngIf="staff.waiter === true">Waiter</span>
      <span *ngIf="staff.waiter === false">Kitchen Staff</span>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-raised-button (click)="this.openStaffSalesDialog(staff)">
        Sales
      </button>
    </mat-grid-tile>
    <mat-grid-tile>
      <button mat-button (click)="openEditMenuDialog(staff)">Edit</button>
      <button mat-button color="warn" (click)="deleteStaff(staff)">Delete</button>
    </mat-grid-tile>
  </mat-grid-list>
</mat-drawer-container>
