<mat-drawer-container class="example-container" autosize>
    <mat-toolbar>
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>reorder</mat-icon>
      </button>
      <span>Manager Menu</span>
      <span class="spacer"></span>
      <notifications class="notifications"></notifications>
    </mat-toolbar>
  
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <ul class="buttonRow">
        <li class="flex-item">
          <a routerLink="/manager-menu/add-staff">
            <button mat-button>Add Staff</button>
          </a>
        </li>
        <li class="flex-item">
          <a>
            <button mat-button>Add Ingredient</button>
          </a>
        </li>
  
      </ul>
      <ul class="botButtonRow">
        <li class="flex-item">
          <button mat-button color="warn">Log Out</button>
        </li>
      </ul>
    </mat-drawer>

    <h2>Ingredient</h2>

    <button mat-button (click)="openAddMenuDialog()">Add</button>

    <mat-grid-list cols="3" rowHeight="15px">
    <mat-grid-tile>Name</mat-grid-tile>
    <mat-grid-tile>Quantity</mat-grid-tile>
    <mat-grid-tile></mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list class="menuItem" cols="3" rowHeight="75px" *ngFor="let ing of ingredients">
    <mat-grid-tile>{{ing.name}}</mat-grid-tile>
    <mat-grid-tile>{{ing.quantity}}</mat-grid-tile>
    <mat-grid-tile>
      <button mat-button (click)="openEditMenuDialog(ing)">Edit</button>
      <button mat-button (click)="delete(ing)">Delete</button>
    </mat-grid-tile>
    </mat-grid-list>
</mat-drawer-container>    