.centreDiv
  margin: auto
  background-color: white
  font-family: ink Free
  font-weight: bold
  color: rgb(230, 255, 255)

.Fajitas
  text-decoration-line: none
  color: black
  font-family: ink Free
  font-weight: bold
  font-size: 20px
  margin: none

.Nachos
  text-decoration-line: none
  color: black
  font-family: ink Free
  font-weight: bold
  font-size: 20px
  margin: none

.Dips
  text-decoration-line: none
  color: black
  font-family: ink Free
  font-weight: bold
  font-size: 20px
  margin: none

.Deserts
  text-decoration-line: none
  color: black
  font-family: ink Free
  font-weight: bold
  font-size: 20px
  margin: none