<form>
  <mat-form-field appearance="fill" class="centreDiv">
      <mat-label matNativeControl required name="formFood">Food Category</mat-label>
      <mat-select matNativeControl required name="food">
        <mat-option value="Fajitas"><a class = "Fajitas" href = "#Fajitas">Fajitas</a></mat-option>
        <mat-option value="Nachos"><a class = "Nachos" href = "#Nachos">Nachos</a></mat-option>
        <mat-option value="Dips"><a class = "Dips" href = "#Dips">Dips</a></mat-option>
        <mat-option value="Deserts"><a class = "Deserts" href = "#Deserts">Deserts</a></mat-option>
      </mat-select>
  </mat-form-field>
</form>
