<h2>Shopping Cart</h2>
<mat-list>
    <mat-list-item *ngFor="let meal of mealList">
        {{meal.name}}
        <button mat-button color="accent" (click) = "add(meal)">
            <mat-icon>add</mat-icon>
        </button>
        <button mat-button color="accent" (click) = "remove(meal)">
            <mat-icon>remove</mat-icon>
        </button>
        <button mat-button color="accent" (click) = "clear(meal)">
            <mat-icon>clear</mat-icon>
        </button>
        x{{meal.selections}}
    </mat-list-item>
</mat-list>