<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="main">
    <div class="sign">
        <h1 class="welcome">Register</h1>
        <form class="form1">
            <input class="un" type="text" name="name" [(ngModel)]="clinet.name" placeholder="Name">
            <br />
            <input class="un" type="text" name="address" [(ngModel)]="clinet.address" placeholder="Address">
            <br />
            <input class="un" type="text" name="phoneNumber" [(ngModel)]="clinet.phoneNumber" placeholder="Phone Number">
            <br />
            <input class="un" type="text" name="emailAddress" [(ngModel)]="clinet.emailAddress" placeholder="Email Address">
            <br />
            <select class="un" name="menu" [(ngModel)]="clinet.menu">
                <option *ngFor="let c of menuList" [ngValue]="c">{{c.name}}</option>
            </select>
            <input (click)="onSubmit()" type="submit" value="Register" class="submit">
        </form>
    </div>
</div>