<mat-drawer-container class="example-container" autosize>
  <mat-toolbar>
    <button type="button" mat-button (click)="drawer.toggle()">
      <mat-icon>reorder</mat-icon>
    </button>
    <span>Kitchen Menu</span>
    <span class="spacer"></span>
  </mat-toolbar>

  <mat-drawer #drawer class="example-sidenav" mode="side">
    <ul class="buttonRow">
      <li class="flex-item">
        <button mat-button>Add Table</button>
      </li>

    </ul>
    <ul class="botButtonRow">
      <li class="flex-item">
        <button mat-button color="warn">Log Out</button>
      </li>
    </ul>
  </mat-drawer>
  <app-orders-list-display
    [createPermission] = "false"
    [isKitchenStaff]="true">
  </app-orders-list-display>
  <hr>
<app-menus-list-display></app-menus-list-display>

</mat-drawer-container>


