$noOrder: red
$hasOrder: green
$h1Col: teal
$btnSize: 75%

$tableButCol: brown

.tableList
  display: grid
  grid-template-columns: repeat(auto-fit, minmax(240px,1fr))
  gap: 1rem
  width: border-box

li
  display: flex
  flex-direction: row
  border: 5px
  width: auto
  height: 50px
  list-style-type: none

.hasOrder
  border-color: $hasOrder
  width: $btnSize
  height: $btnSize

.noOrder
  border-color: $noOrder
  width: $btnSize
  height: $btnSize

.readyToOrder
  border-color: $hasOrder
  width: $btnSize
  height: $btnSize

.noIsReadyToOrder
  border-color: $noOrder
  width: $btnSize
  height: $btnSize

.addOrder
  border-color: yellow
//width: $btnSize
//height: $btnSize
//border-radius: 250px

.tableBut
  border-color: $tableButCol
  width: $btnSize
  height: $btnSize

h1
  color: $h1Col

.buttonRow
  list-style: none
  padding-left: 0

.flex-item
  width: 100%
  -webkit-flex-direction: column
  flex-direction: column
  float: left

.botButtonRow
  width: 100%
  position: absolute
  bottom: 0

.spacer
  flex: 1 1 auto

.notifications
  padding: 30px
