<div class = "main">
    <div class = "sign">
        <h1 class = "welcome">Sign In</h1>
        <form class = "form1">
            <input class="un"  type = "text" name = "username" [(ngModel)] = "username" placeholder = "Username" >
            <br/>
            <input class="pass" type = "password"  name = "password" [(ngModel)] = "password" placeholder = "Password"/>
            <br/>
            <input  (click) = "onSubmit()" type="submit" value="Login" class = "submit">
        </form>
    </div>
</div>