<mat-drawer-container class="example-container" autosize>
    <mat-toolbar>
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>reorder</mat-icon>
      </button>
      <span>Customer List</span>
      <span class="spacer"></span>
    </mat-toolbar>
  
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <ul class="botButtonRow">
        <li class="flex-item">
          <button mat-button color="warn">Log Out</button>
        </li>
      </ul>
    </mat-drawer>

  <mat-grid-list cols="5" rowHeight="15px">
    <mat-grid-tile>Name</mat-grid-tile>
    <mat-grid-tile>Address</mat-grid-tile>
    <mat-grid-tile>Email</mat-grid-tile>
    <mat-grid-tile>Phone Number</mat-grid-tile>
    <mat-grid-tile>Dish</mat-grid-tile>
  </mat-grid-list>
  <mat-grid-list class="menuItem" cols="5" rowHeight="75px" *ngFor="let c of clients">
    <mat-grid-tile>{{c.name}}</mat-grid-tile>
    <mat-grid-tile>{{c.address}}</mat-grid-tile>
    <mat-grid-tile>{{c.emailAddress}}</mat-grid-tile>
    <mat-grid-tile>{{c.phoneNumber}}</mat-grid-tile>
    <mat-grid-tile>{{c.menu.name}}</mat-grid-tile>
  </mat-grid-list>
</mat-drawer-container>