
<hr>
<p class = "paymentTitle">Payment</p>
<mat-horizontal-stepper #stepper class = "paymentStepper">
    <mat-step [stepControl]="reviewOrderGroup" errorMessage="Order Confirmation Required!">
      <form [formGroup]="reviewOrderGroup">
        <ng-template matStepLabel>Review your Order</ng-template>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Order Items
                </mat-panel-title>
                <mat-panel-description>
                  Click to review contents of your order.
                </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="table" class = "selecedItems">
                <tbody>
                  <tr *ngFor="let meal of mealList">
                    <th scope="row">{{meal.menu.name}}</th>
                    <td>{{meal.menu.price * meal.selections}}$</td>
                    <td>x {{meal.selections}}</td>
                  </tr>
                </tbody>
              </table>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-form-field>
          <input matInput placeholder="Your Answer(Yes or No)" formControlName="firstCtrl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="paymentGroup" errorMessage="Payment is required">
      <form [formGroup]="paymentGroup">
        <ng-template matStepLabel>Insert Your Card Details</ng-template>
        <mat-form-field>
          <mat-label>Payment</mat-label>
          <input matInput placeholder="Ex. 1 Main St, New York, NY" formControlName="secondCtrl"
                 required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>&nbsp;&nbsp;
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>Payment Confirmed!</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
