
<hr>
<p class = "paymentTitle">Payment</p>
<mat-horizontal-stepper #stepper class = "paymentStepper">
    <mat-step [stepControl]="reviewOrderGroup" #step errorMessage="Order Confirmation Required!" [hasError]
    ="this.interacted">
      <form [formGroup]="reviewOrderGroup">
        <ng-template matStepLabel>Review your Order</ng-template>
        <mat-accordion>
            <mat-expansion-panel hideToggle>
              <mat-expansion-panel-header>
                <mat-panel-title>
                  Order Items
                </mat-panel-title>
                <mat-panel-description>
                  Click to review contents of your order.
                </mat-panel-description>
              </mat-expansion-panel-header>
              <table class="table" class = "selectedItems">
                <tbody>
                  <tr *ngFor="let meal of mealList">
                    <th scope="row">{{meal.menu.name}}</th>
                    <td>{{meal.menu.price * meal.selections}}$</td>
                    <td>x {{meal.selections}}</td>
                  </tr>
                </tbody>
              </table>
            </mat-expansion-panel>
        </mat-accordion>
        <br>
        <div id="yesOption">
          <div class = "inner">
            <mat-label class = "orderReview">Order Reviewed?</mat-label> 
          </div>
          <div class = "inner">
            <button mat-button (click) = "orderReviewed()">Yes</button>
          </div>
        </div>
        <br>
        <div>
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step [stepControl]="paymentGroup" #step errorMessage="Payment is required" [hasError]
    ="this.correctInputs">
      <form [formGroup]="paymentGroup">
        <ng-template matStepLabel>Insert Your Card Details</ng-template>
        <mat-form-field>
          <mat-label>Card Number</mat-label>
          <input matInput placeholder="XXXX-XXXX-XXXX-XXXX" (input) = "checkCardInput()" 
          formControlName="cardNumberControl" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>Expiration Date</mat-label>
          <input matInput placeholder="XX/XX" (input) = "checkCardInput()" 
          formControlName="expDateControl" required>
        </mat-form-field>
        <mat-form-field>
          <mat-label>CVV Code</mat-label>
          <input matInput placeholder="XXX" (input) = "checkCardInput()" 
          formControlName="cvvCodeControl" required>
        </mat-form-field>
        <div>
          <button mat-button matStepperPrevious>Back</button>&nbsp;&nbsp;
          <button mat-button matStepperNext>Next</button>
        </div>
      </form>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p>Payment Confirmed!</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-horizontal-stepper>
