<mat-drawer-container class="example-container" autosize>
    <mat-toolbar>
      <button type="button" mat-button (click)="drawer.toggle()">
        <mat-icon>reorder</mat-icon>
      </button>
      <span>Client Menu</span>
      <span class="spacer"></span>
    </mat-toolbar>
  
    <mat-drawer #drawer class="example-sidenav" mode="side">
      <ul class="buttonRow">
  
      </ul>
      <ul class="botButtonRow">
        <li class="flex-item">
          <button mat-button color="warn">Log Out</button>
        </li>
      </ul>
    </mat-drawer>
    <app-menus-list-display></app-menus-list-display>
  </mat-drawer-container>
  