<h1 mat-dialog-title>Edit Log</h1>
<div mat-dialog-content>
  <mat-form-field>
    <mat-label>Name</mat-label>
    <input matInput [(ngModel)]="data.name"/>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Description</mat-label>
    <textarea matInput [(ngModel)]="data.description" class="fixInput"></textarea>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Price</mat-label>
    <input matInput [(ngModel)]="data.price" class="fixInput"/>
  </mat-form-field>
  <mat-list>
    <mat-label>Category</mat-label>
    <div *ngFor = "let item of ['Fajita','Nachos','Dips', 'Desserts'];  let i = index">
    <mat-list-item><mat-checkbox (change)="onClick(item); selected = i" [checked]="selected === i" >{{item}}</mat-checkbox></mat-list-item>
    </div>
    <mat-label>Allergen</mat-label>
    <mat-list-item><mat-checkbox [(ngModel)]="data.peanuts">Peanuts</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox [(ngModel)]="data.celery">Celery</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox [(ngModel)]="data.crustaceans">Crustacenas</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox [(ngModel)]="data.eggs">Eggs</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox [(ngModel)]="data.fish">Fish</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox [(ngModel)]="data.gluten">Gluten</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox [(ngModel)]="data.lupin">Lupin</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox [(ngModel)]="data.milk">Milk</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox [(ngModel)]="data.molluscs">Molluscs</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox [(ngModel)]="data.mustard">Mustard</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox [(ngModel)]="data.nuts">Nuts</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox [(ngModel)]="data.sesameSeeds">Sesame Seeds</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox [(ngModel)]="data.soya">Soya</mat-checkbox></mat-list-item>
    <mat-list-item><mat-checkbox [(ngModel)]="data.sulphites">Sulphites</mat-checkbox></mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Ok</button>
</div>
